<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">


    <!--****shiro配置**********-->
    <bean id="customRolesAuthorizationFilter" class="com.mmall.shiro.CustomRolesAuthorizationFilter"/>

     <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
         <property name="securityManager" ref="securityManager"/>
         <property name="loginUrl" value="/public/unAuthenticated"/><!--在  SysUserController  文件中-->
         <property name="unauthorizedUrl" value="/public/unAuthorized"/>

         <property name="filters">
             <util:map>
                 <entry key="roles" value-ref="customRolesAuthorizationFilter"/>
             </util:map>
         </property>

         <property name="filterChainDefinitions">
             <value>
                <!--/total/** = anon-->
                 /websocket = anon
                 <!--/express/service/ExportOrder = anon-->
                 /druid/** = anon
                 /swagger-ui.html = anon
                 /v2/api-docs = anon
                 /swagger-resources/** = anon
                 /webjars/** =anon
                 /public/alipay/** = anon
                 /public/login = anon
                 /public/register = anon
                 /public/403 = anon
                 /public/express/** = anon
                 /fn/** = roles[SUPER]
                 /express/total/getTime = anon
                 /express/customerUser/** = roles["ADMIN,OPERATE"]
                 /express/message/** = roles["ADMIN,OPERATE,CUSTOMER"]
                 /express/service/reply/** = roles["ADMIN,OPERATE,SERVICE,CUSTOMER"]
                 /express/dailyTotal/getDailyTotalList = roles["ADMIN,OPERATE,CUSTOMER"]
                 /express/provinceCalculate/getProvinceCalculate = roles["ADMIN,OPERATE,CUSTOMER"]<!--省计-->
                 /express/total/getBillData = roles["ADMIN,OPERATE,CUSTOMER"]<!--月计-->
                 /express/weightCalculate/getWeightCalculate = roles["ADMIN,OPERATE,CUSTOMER"]<!--重量区间-->
                 /customer/** = roles[CUSTOMER]
                 /express/** = roles["ADMIN,OPERATE,SERVICE"]
                 /express/total/** = roles["ADMIN,OPERATE,SERVICE"]
                 /** = authc
             </value>
         </property>
     </bean>
     <!--SecurityManager对象-->
     <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
         <property name="realm" ref="realm"/>
        <property name="sessionManager" ref="sessionManager"/>
        <property name="cacheManager" ref="cacheManager"/>
     </bean>
     <!--realm对象-->
     <bean id="realm" class="com.mmall.shiro.realms.FnShiroRealm">
         <property name="credentialsMatcher" ref="hashedCredentialsMatcher"/>
     </bean>
     <!--凭证匹配器-->
     <bean id="hashedCredentialsMatcher" class="org.apache.shiro.authc.credential.HashedCredentialsMatcher">
         <property name="hashAlgorithmName" value="md5"/>
         <property name="hashIterations" value="1024"/>
     </bean>
    <!--sessionManager对象-->
     <bean id="sessionManager" class="com.mmall.shiro.MySessionManager">
             <property name="sessionDAO" ref="redisSessionDAO"/>
     </bean>
    <bean id="redisSessionDAO" class="com.mmall.shiro.RedisSeessionDao"/>
    <!--缓存-->
    <bean id="cacheManager" class="com.mmall.shiro.RedisCacheManager"/>




</beans>