<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <!--****shiro配置**********-->
     <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
         <property name="securityManager" ref="securityManager"/>
         <property name="loginUrl" value="/public/403"/>
         <property name="unauthorizedUrl" value="/public/403"/>
         <property name="filterChainDefinitions">
             <value>

                 /druid/** = anon
                 /swagger-ui.html = anon
                 /v2/api-docs = anon
                 /swagger-resources/** = anon
                 /webjars/** =anon
                 /public/login = anon
                 /public/register = anon
                 /public/403 = anon
                 /fn/** = roles[SUPER]
                 /express/** = roles[ADMIN]
                 /express/total/** = roles[ADMIN]
                 /** = authc
             </value>
         </property>
     </bean>
     <!--SecurityManager对象-->
     <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
         <property name="realm" ref="realm"/>
        <property name="sessionManager" ref="sessionManager"/>
        <property name="cacheManager" ref="cacheManager"/>
     </bean>
     <!--realm对象-->
     <bean id="realm" class="com.mmall.shiro.realms.FnShiroRealm">
         <property name="credentialsMatcher" ref="hashedCredentialsMatcher"/>
     </bean>
     <!--凭证匹配器-->
     <bean id="hashedCredentialsMatcher" class="org.apache.shiro.authc.credential.HashedCredentialsMatcher">
         <property name="hashAlgorithmName" value="md5"/>
         <property name="hashIterations" value="1024"/>
     </bean>
    <!--sessionManager对象-->
     <bean id="sessionManager" class="com.mmall.shiro.MySessionManager">
             <property name="sessionDAO" ref="redisSessionDAO"/>
     </bean>
    <bean id="redisSessionDAO" class="com.mmall.shiro.RedisSeessionDao"/>
    <!--缓存-->
    <bean id="cacheManager" class="com.mmall.shiro.RedisCacheManager"/>




</beans>