<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mmall.dao.CustomerServiceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mmall.model.CustomerService">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="user_key" property="userKey" />
        <result column="express_id" property="expressId" />
        <result column="handle_id" property="handleId" />
        <result column="handle_name" property="handleName" />
        <result column="waybill_number" property="waybillNumber" />
        <result column="content" property="content" />
        <result column="contacts" property="contacts" />
        <result column="phone" property="phone" />
        <result column="enclosure" property="enclosure" />
        <result column="receive_time" property="receiveTime" />
        <result column="end_time" property="endTime" />
        <result column="receive_time_solt" property="receiveTimeSolt" />
        <result column="end_time_solt" property="endTimeSolt" />
        <result column="type_id" property="typeId" />
        <result column="type_name" property="typeName" />
        <result column="status" property="status" />
        <result column="remarks" property="remarks" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMapDto" type="com.mmall.dto.ReplynumServiceDto">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="user_key" property="userKey" />
        <result column="express_id" property="expressId" />
        <result column="handle_id" property="handleId" />
        <result column="handle_name" property="handleName" />
        <result column="waybill_number" property="waybillNumber" />
        <result column="content" property="content" />
        <result column="contacts" property="contacts" />
        <result column="phone" property="phone" />
        <result column="enclosure" property="enclosure" />
        <result column="receive_time" property="receiveTime" />
        <result column="end_time" property="endTime" />
        <result column="receive_time_solt" property="receiveTimeSolt" />
        <result column="end_time_solt" property="endTimeSolt" />
        <result column="type_id" property="typeId" />
        <result column="type_name" property="typeName" />
        <result column="status" property="status" />
        <result column="remarks" property="remarks" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>


    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, express_id, handle_id, handle_name, waybill_number, content, contacts, phone, enclosure, time_slot, type_id, type_name, status, remarks, create_time, update_time
    </sql>

    <sql id="View">
        id,  handle_name as handleName, waybill_number as waybillNumber, content, contacts, phone, enclosure, time_slot as timeSlot, type_name as typeName, status, remarks, create_time as createTime
    </sql>
    <update id="updateCustomerService">
        UPDATE customer_service SET handle_name=#{name},handle_id=#{userId},status=2
        where FIND_IN_SET(id,#{handleId}) and status=1
    </update>

    <select id="getAllCustomerServices" resultMap="BaseResultMap">
        select
        id,
        user_id,
        user_key,
        handle_name,
        waybill_number ,
        content,
        contacts,
        phone,
        enclosure,
        receive_time ,
        end_time,
        receive_time_solt ,
        end_time_solt,
        type_id,
        type_name ,
        status,
        remarks,
        create_time
        from customer_service
        <where>
            <if test="status!=0">
                and status = #{status}
            </if>
            <if test="type!=0">
                and type_id = #{type}
            </if>
            <if test="waybillNumber!=null and waybillNumber!=''">
                and waybill_number = #{waybillNumber}
            </if>
            <if test="handles!=null and handles!=''">
                and FIND_IN_SET(handle_id,#{handles})
            </if>
            <if test="keyName!=null and keyName!=''">
                and user_key = #{keyName}
            </if>
            <if test="createTime!=null and createTime!=''">
                and create_time &gt; #{createTime}
            </if>
            <if test="endTime!=null and endTime!=''">
                and create_time &lt; #{endTime}
            </if>
            <if test="receiveSolt!=-1 and receiveSolt!=0">
                and  receive_time_solt &lt;= #{receiveSolt} and  receive_time_solt !=0
            </if>
            <if test="receiveSolt==0">
                and  receive_time_solt &gt; 4320
            </if>

            <if test="endSolt!=-1 and endSolt!=0">
                and  end_time_solt &lt;= #{endSolt} and  end_time_solt !=0
            </if>
            <if test="endSolt==0">
                and  end_time_solt &gt; 4320
            </if>

                and express_id =#{userId}
        </where>
        ORDER BY status ASC,type_id ASC,create_time DESC
    </select>


    <select id="getAllCustomerServiceByUser" resultMap="BaseResultMapDto">
        select
        id,
        user_id,
        user_key,
        handle_name,
        waybill_number ,
        content,
        contacts,
        phone,
        enclosure,
        type_id,
        type_name ,
        status,
        remarks,
        create_time
        from customer_service
        <where>
            <if test="errorId!=0">
                and type_id = #{errorId}
            </if>
            <if test="status!=0">
                and status = #{status}
            </if>

            <if test="waybillNumber!=null and waybillNumber!=''">
                and waybill_number = #{waybillNumber}
            </if>
            and user_id =#{userId}

        </where>
        ORDER BY status ASC,type_id ASC,create_time DESC
    </select>


    <select id="getCustomerServiceBySelf" resultMap="BaseResultMapDto">
        select
        id,
        user_id,
        user_key,
        handle_name,
        waybill_number ,
        content,
        contacts,
        phone,
        enclosure,
        receive_time ,
        end_time,
        receive_time_solt ,
        end_time_solt,
        type_id,
        type_name ,
        status,
        remarks,
        create_time
        from customer_service
        <where>
            <if test="status!=0">
                and status = #{status}
            </if>
            <if test="type!=0">
                and type_id = #{type}
            </if>
            <if test="keyName!=null and keyName!=''">
                and user_key = #{keyName}
            </if>
            <if test="waybillNumber!=null and waybillNumber!=''">
                and waybill_number = #{waybillNumber}
            </if>
            <if test="createTime!=null and createTime!=''">
                and create_time &gt; #{createTime}
            </if>
            <if test="endTime!=null and endTime!=''">
                and create_time &lt; #{endTime}
            </if>
            and handle_id =#{userId}
        </where>
        ORDER BY status ASC,type_id ASC,create_time DESC
    </select>
    <select id="getCountServiceByHandleId" resultType="java.lang.Integer">
        SELECT
        COUNT(id)
    FROM
        customer_service
    WHERE
        status = #{status}
        <if test="type==1">
            and handle_id = #{userId}
        </if>
        <if test="type==2">
            and express_id = #{userId}
        </if>
        <if test="dateBegin!='' and dateBegin!=null">
            and create_time >= #{dateBegin}
        </if>
        <if test="dateEnd!='' and dateEnd!=null">
            and create_time &lt; #{dateEnd}
        </if>

    </select>
</mapper>
