<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mmall.dao.FnContactsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mmall.model.FnContacts">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="phone" property="phone" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, phone
    </sql>
    <select id="getOneFnContacts" resultType="com.mmall.model.FnContacts">
        SELECT
        *
        FROM
            fn_contacts s
        INNER JOIN fn_and_user u ON u.fn_id = s.id
        WHERE
            u.user_id = #{id}

    </select>

</mapper>
