<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mmall.dao.MessageMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mmall.model.Message">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="send_id" property="sendId" />
        <result column="content" property="content" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, send_id, user_id, title, content, status, create_time, update_time
    </sql>

    <!--客户获取信息列表-->
    <select id="ListByIds"  resultType="com.mmall.model.Message">
      select
      m.id,
      m.send_id as sendId,
      m.title,
      m.content,
      m.create_time as createTime
      from message m
      join user_message as um
      on m.id=um.message_id
      where
        user_id=#{userId}
        and
        um.status = 1
    </select>

    <!--快递公司获取信息列表-->
    <select id="getListByIds"  resultType="com.mmall.vo.MessVO">
      select message.id,title,content,message.create_time as createTime,um.id as userMessageId,um.status,si.name
      from message
      join user_message as um on message.id=um.message_id
      join sys_user_info si on si.id=um.user_id
      where FIND_IN_SET(um.id,#{idStr})
    </select>
</mapper>
