<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mmall.dao.SysUserInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mmall.model.SysUserInfo">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="platform_id" property="platformId"/>
        <result column="company_name" property="companyName"/>
        <result column="email" property="email"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, email, company_name as companyName,province,city,area,address,telephone,person_in_charge,create_time
    </sql>

    <select id="findUserByusername" parameterType="String" resultType="com.mmall.model.SysUserInfo">
        SELECT
        i.id,
        i.name,
        i.company_name as companyName,
        i.user_id as userId,
        i.platform_id as platformId,
        i.level ,
        i.parent_id as  parentId,
        i.status
        FROM
            sys_user s
        INNER JOIN sys_user_info i ON s.id = i.user_id
        WHERE
            s.username =#{username}
    </select>

    <select id="findUserInfoByid" parameterType="int" resultType="com.mmall.model.SysUserInfo">
          SELECT
			<include refid="Base_Column_List"/>
        FROM
            sys_user_info s
        WHERE
            s.id = #{id}
    </select>


</mapper>
