<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mmall.dao.TotalMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mmall.model.Total">
        <id column="total_id" property="totalId" />
        <result column="user_id" property="userId" />
        <result column="send_id" property="sendId" />
        <result column="name" property="name" />
        <result column="order_no" property="orderNo" />
        <result column="total_time" property="totalTime" />
        <result column="total_number" property="totalNumber" />
        <result column="total_weight" property="totalWeight" />
        <result column="total_cost" property="totalCost" />
        <result column="total_offer" property="totalOffer" />
        <result column="total_paid" property="totalPaid" />
        <result column="total_credentials_url" property="totalCredentialsUrl" />
        <result column="total_url" property="totalUrl" />
        <result column="total_state" property="totalState" />
        <result column="create_time" property="createTime" />
        <result column="create_ip" property="createIp" />
        <result column="update_time" property="updateTime" />
        <result column="update_ip" property="updateIp" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        total_id, user_id as userId, name, total_time, total_number, total_weight, total_cost, total_offer, total_paid, total_url, total_state, create_time, create_ip, update_time, update_ip
    </sql>

    <!--添加账单-->
    <insert id="insertTotal" parameterType="com.mmall.model.Total"  useGeneratedKeys="true" keyProperty="totalId">
      insert into total(`name`,total_time,total_number,total_weight,create_time,user_id,total_url,cd_url,send_id,order_no) values (#{name},#{totalTime},#{totalNumber},#{totalWeight},#{createTime},#{userId},#{totalUrl},#{cdUrl},#{sendId},#{orderNo})
    </insert>

    <!--获取月计数据-->
    <select id="getToal"  resultType="com.mmall.model.Total">
      select total_time as totalTime,
      SUM(total_number) as totalNumber,
      SUM(total_weight) as totalWeight,
      SUM(total_offer) as totalOffer,
      SUM(total_paid) as totalPaid,
      SUM(total_cost) as totalCost
      from total where user_id in (${userId}) and total_time=#{totalTime}
    </select>

    <!--根据用户id获取账单id-->
    <select id="listToal" resultType="com.mmall.model.Total">
      select total_id as totalId
      from total where user_id in (${userId}) and total_time=#{totalTime}
    </select>

    <!--获取账单列表（数据分析）-->
    <select id="getBill"  resultType="com.mmall.vo.TotalVo">
        select
        total_id as totalId,
        send_id as sendId,
        t.user_id as userId,
        order_no as orderNo,
        t.`name`,
        total_time as totalTime,
        total_number as totalNumber,
        total_weight as totalWeight,
        total_cost as totalCost,
        total_offer as totalOffer,
        total_paid as totalPaid,
        total_credentials_url as totalCredentialsUrl,
        total_url as totalUrl,
        total_remark as totalRemark,
        total_state as totalState,
        t.create_time as createTime,
        as_of_time as asOfTime,
        t.update_time as updateTime,
        type_name as typeName,
        payee,
        payment_account as paymentAccount
        from
        total t
        LEFT JOIN sys_user_info ui on ui.id=t.user_id
        LEFT join
        payment_method m
        on m.user_id=ui.parent_id
        <where>
          <if test="userId!=null">
             and t.user_id =#{userId}
          </if>

          <if test="totalTime">
              and total_time =#{totalTime}
          </if>

          <if test="state!=null and state!=0">
              and total_state=#{state}
          </if>
        </where>
    </select>

    <!--获取已收和未收数据-->
    <select id="getBillCount" resultType="com.mmall.model.Total">
        select
        SUM(total_paid) as totalPaid
        from total where user_id in (${userId}) and total_time =#{totalTime} and total_state in(${state})
    </select>


    <select id="getTotals" resultType="com.mmall.model.Total">
        select
          user_id as userId,
          name,
          total_number as totalNumber,
          total_url as totalUrl
        from
          total
        where
          send_id=#{sendId} and create_time>#{time}
    </select>

    <!--发送订单-->
    <update id="updateByTotalId">
      update total set total_remark=#{totalRemark},total_state=2,as_of_time=#{date} where total_id in (${totalId})
    </update>
</mapper>
