<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mmall.dao.TotalMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mmall.model.Total">
        <id column="total_id" property="totalId" />
        <result column="user_id" property="userId" />
        <result column="send_id" property="sendId" />
        <result column="name" property="name" />
        <result column="order_no" property="orderNo" />
        <result column="total_time" property="totalTime" />
        <result column="total_number" property="totalNumber" />
        <result column="total_weight" property="totalWeight" />
        <result column="total_cost" property="totalCost" />
        <result column="total_offer" property="totalOffer" />
        <result column="total_paid" property="totalPaid" />
        <result column="total_credentials_url" property="totalCredentialsUrl" />
        <result column="total_url" property="totalUrl" />
        <result column="total_state" property="totalState" />
        <result column="create_time" property="createTime" />
        <result column="create_ip" property="createIp" />
        <result column="update_time" property="updateTime" />
        <result column="update_ip" property="updateIp" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        total_id, user_id as userId, name, total_time, total_number, total_weight, total_cost, total_offer, total_paid, total_url, total_state, create_time, create_ip, update_time, update_ip
    </sql>

    <!--添加账单-->
    <insert id="insertTotal" parameterType="com.mmall.model.Total"  useGeneratedKeys="true" keyProperty="totalId">
      insert into total(`name`,total_time,total_number,total_weight,create_time,user_id,total_url,cd_url,send_id,order_no) values (#{name},#{totalTime},#{totalNumber},#{totalWeight},#{createTime},#{userId},#{totalUrl},#{cdUrl},#{sendId},#{orderNo})
    </insert>

    <!--获取月计数据-->
    <select id="getToal"  resultType="com.mmall.model.Total">
      select total_time as totalTime,
      SUM(total_number) as totalNumber,
      SUM(total_weight) as totalWeight,
      SUM(total_offer) as totalOffer,
      SUM(total_paid) as totalPaid,
      SUM(total_additional) as totalAdditional,
      SUM(total_cost) as totalCost
      from total
      <where>
          <if test="totalState!=null and totalState!=''">
              and FIND_IN_SET(total_state,#{totalState})
          </if>

          <if test="totalTime!=null and totalTime!=''">
              and total_time=#{totalTime}
          </if>

          <if test="userId!=null and userId!=''">
              and FIND_IN_SET(user_id,#{userId})
          </if>

          <if test="sendId!=null and sendId!=0">
              and send_id=#{sendId}
          </if>
      </where>
    </select>

    <!--根据用户id获取账单id-->
    <select id="listToal" resultType="com.mmall.model.Total">
      select total_id as totalId
      from total where FIND_IN_SET(user_id,#{userId}) and total_time=#{totalTime} and total_state &gt;=2
    </select>

    <!--根据总账单id获取账单-->
    <select id="listTotal" resultType="com.mmall.model.Total">
      select
      total_id as totalId,
      sum_id as sumId
      from total
     <where>
         <if test="sumId!= '' and sumId!=null" >
             and FIND_IN_SET(sum_id,#{sumId})
         </if>

         <if test="totalTime!=null">
             and total_time=#{totalTime}
         </if>

         <if test="state!=0 and state!=null">
             and total_state &gt;= #{state}
         </if>
     </where>
    </select>

    <!--根据总账单id删除账单-->
    <delete id="deleteTotal">
       delete from total where FIND_IN_SET(sum_id,#{sumId}) and total_time=#{totalTime}
    </delete>

    <!--获取账单列表（数据分析）-->
    <select id="getBill"  resultType="com.mmall.vo.TotalVo">
        select
        total_id as totalId,
        send_id as sendId,
        t.user_id as userId,
        order_no as orderNo,
        t.`name`,
        total_time as totalTime,
        total_number as totalNumber,
        total_weight as totalWeight,
        total_offer as totalOffer,
        <if test="type!=2">
            total_cost as totalCost,
        </if>
        total_additional as totalAdditional,
        total_paid as totalPaid,
        total_credentials_url as totalCredentialsUrl,
        total_url as totalUrl,
        total_remark as totalRemark,
        total_state as totalState,
        t.create_time as createTime,
        as_of_time as asOfTime,
        t.update_time as updateTime,
        type_name as typeName,
        payee,
        payment_account as paymentAccount
        from
        total t
        LEFT JOIN sys_user_info ui on ui.id=t.user_id
        LEFT join
        payment_method m
        on m.user_id=ui.parent_id
        <where>
          <if test="userId!=null">
             and t.user_id =#{userId}
          </if>

          <if test="totalTime">
              and total_time =#{totalTime}
          </if>

           <if test="type==2" >
               and total_state>1
           </if>

          <if test="state!=null and state!=0">
              and total_state=#{state}
          </if>

          <if test="sendId!=null and sendId!=0">
              and send_id = #{sendId}
          </if>
        </where>
    </select>

    <!--获取已收和未收数据-->
    <select id="getBillCount" resultType="com.mmall.model.Total">
        select
        SUM(total_paid) as totalPaid
        from total where user_id in (${userId}) and total_time =#{totalTime} and total_state in(${state})
    </select>


    <select id="getTotals" resultType="com.mmall.model.Total">
        select
          t.total_id as totalId,
          t.user_id as userId,
          t.name,
          t.total_number as totalNumber,
          t.total_url as totalUrl
        from
          total t
          LEFT JOIN sum_tatal s on s.sum_id=t.sum_id
        where
          t.send_id=#{sendId} and t.create_time>#{time} and s.sum_name = #{fileName}
    </select>
    <select id="getAllBySendIdAndCreateTimeAndUserIds" resultType="com.mmall.vo.BillDtetailVo">
        select
            t.name as name,
            t.total_offer as totalOffer,
            t.total_paid as totalPaid,
            t.total_state as totalState,
            t.total_credentials_url as totalCredentialsUrl,
            u.name as nameNick,
            u.person_in_charge as personInCharge,
            u.telephone
        from
          total t
          LEFT JOIN sys_user_info u on u.id=t.user_id
        <where>
            t.send_id=#{id} and FIND_IN_SET(t.user_id,#{userId})
            <if test="endDate!=null and endDate!='' and date!=null and date!=''">
                and t.total_time BETWEEN #{date} and #{endDate}
            </if>

            <if test="endDate==null and endDate=='' and date!=null and date!=''">
                and t.total_time=#{date}
            </if>

            <if test="status>1">
                and t.total_state=#{status}
            </if>

            <if test="status &lt;= 1">
                and t.total_state>1
            </if>
        </where>


    </select>
    <select id="getSumBiLLDetails" resultType="com.mmall.model.Total">
        select
             SUM(t.total_offer)as totalOffer,
            SUM(t.total_paid)as totalPaid,
						count(*)
        from
          total t
          LEFT JOIN sys_user_info u on u.id=t.user_id
        <where>
            t.send_id=#{id} and t.total_time=#{date} and  FIND_IN_SET(t.user_id,#{userId})
            <if test="status>1">
                and t.total_state=#{status}
            </if>
            <if test="status &lt;= 1">
                and t.total_state>1
            </if>
        </where>
    </select>
    <select id="getAllBillByIds" resultType="com.mmall.model.Total">
        select
            t.user_id as userId,
            t.total_id as totalId,
            t.total_state as totalState,
            t.order_no as orderNo
        from
          total t
        where
          FIND_IN_SET(t.total_id,#{billIds})
    </select>

    <!--发送订单-->
    <update id="updateByTotalId">
      update total set total_remark=#{totalRemark},total_state=2,as_of_time=#{date},total_additional=#{totalAdditional} where FIND_IN_SET(total_id,#{totalId})
    </update>

    <!--获取付款人信息-->
    <select id="getCollection" resultType="com.mmall.model.SysUserInfo">
      select distinct s.* from total t
      join sys_user_info s
      on t.send_id=s.id
      WHERE t.send_id=#{sendId} and t.total_state=3
    </select>
</mapper>
